{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'estilos.css' %}"  type="text/css">
    </head>
    <body>
    <header id = "header">
        <nav>

            <div class = "nav-logo">
                <img src="{% static 'imagenes/fondo1.png' %}" alt="Cyber Ok logo">
            </div>
            <div class = "nav-enlaces">
                <ul>
                    <li><a href="https://cyberokstore.mitiendanube.com/" id = "tienda">Tienda Virtual</a></li>
                    <br>
                    <li><a href="https://www.instagram.com/cyber_ok/" id = "instagram"><img src="{% static 'imagenes/ig.png' %}" alt="IG logo"></a></li>
                    <br>
                    <li><a href="https://api.whatsapp.com/message/AH2G5S4XQPGRG1" id = "wpp"><img src="{% static 'imagenes/wpp.png' %}" alt="WPP logo"></a></li>
                </ul>
            </div>


        </nav>
    <body>
    </header>
</html>